Repository loosolab/scanpro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linting, tests

linting:
  stage: test
  tags:
  - coverage
  script:
  - pip install flake8
  - flake8 scanpro setup.py tests --ignore=E501,W503
  allow_failure: false

tests:
  stage: test
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - pip install pytest
  - pip install pytest-cov
  - pip install pytest-html
  - pip install .
  - pytest --cov-report=term --cov=./scanpro . --junitxml=pytest.xml --cov-report html:htmlcov
  artifacts:
    when: always
    paths:
  ...

Set bbox for covariate plot
  Alayoubi_et_al_2023/1b_PBMC_dataset_covariates.ipynb
  Alayoubi_et_al_2023/plots/pbmc_Age_covariate.pdf
  Alayoubi_et_al_2023/plots/pbmc_Sex_covariate.pdf
Due: none

Fix label location
  Alayoubi_et_al_2023/2_Heart_dataset.ipynb
  Alayoubi_et_al_2023/plots/heart_boxplot.pdf
  Alayoubi_et_al_2023/plots/heart_norep_stripplot.pdf
  Alayoubi_et_al_2023/plots/heart_sample_barplot.pdf
  Alayoubi_et_al_2023/plots/heart_stripplot.pdf
Due: none

Added figsize to plot function
  CHANGES.rst
  scanpro/_version.py
  scanpro/result.py
Due: linting, tests

Update notebook
  Alayoubi_et_al_2023/2_Heart_dataset.ipynb
Due: none

Update CHANGES.rst
  CHANGES.rst
Due: none

add MANIFEST.in and update readme
  MANIFEST.in
  README.md
Due: none

add github ci workflows
  .github/workflows/build.yml
  .github/workflows/build_docs.yml
  .github/workflows/publish_pypi.yml
  .github/workflows/test.yml
Due: none

update workflows
  .github/workflows/build_docs.yml
  .github/workflows/test.yml
Due: none

fix workflows
  .github/workflows/build_docs.yml
  .github/workflows/test.yml
Due: none

exclude uploading coverage
  .github/workflows/test.yml
Due: none

Update build.yml
  .github/workflows/build.yml
Due: none

Add covariate testing with unreplicated datasets
  CHANGES.rst
  scanpro/result.py
  scanpro/scanpro.py
  scanpro/sim_reps.py
Due: linting, tests

replace deprecated numpy.distutils
  setup.py
Due: linting

trying workaround to keep numpy.distutils
  .gitlab-ci.yml
  setup.py
Due: linting

fix python version in test container
  .gitlab-ci.yml
Due: none

update version
  scanpro/_version.py
Due: linting, tests

add MANIFEST.in
  MANIFEST.in
Due: none

fix matplotlib version to < 3.9
  setup.py
Due: linting

add parameter to run bootstrapping for partially repd data
  scanpro/scanpro.py
Due: linting, tests

add parameter to show plot or return ax object
  scanpro/result.py
Due: linting, tests

linting
  scanpro/result.py
  scanpro/scanpro.py
Due: linting, tests

another linting
  scanpro/scanpro.py
Due: linting, tests

update notebooks and plots
  Alayoubi_et_al_2023/4_Human_MI_dataset.ipynb
  Alayoubi_et_al_2023/5_scatac_atlas_dataset.ipynb
  Alayoubi_et_al_2023/8_benchmarking_plots.ipynb
  Alayoubi_et_al_2023/plots/humanMI_all_samples_counts.pdf
  Alayoubi_et_al_2023/plots/humanMI_ischaemic_vs_ctrl_heatmap.pdf
  Alayoubi_et_al_2023/plots/humanMI_norep_all.pdf
  Alayoubi_et_al_2023/plots/humanMI_norep_myeloid.pdf
  Alayoubi_et_al_2023/plots/humanMI_rep_all.pdf
  Alayoubi_et_al_2023/plots/humanMI_rep_myeloid.pdf
  Alayoubi_et_al_2023/plots/humanMI_scanpro_norep_all_combs.pdf
  Alayoubi_et_al_2023/plots/humanMI_scanpro_norep_filtered_combs.pdf
  Alayoubi_et_al_2023/plots/humanMI_scanpro_vs_sccoda.pdf
  Alayoubi_et_al_2023/plots/humanMI_scanpro_vs_sccoda_combs.pdf
  Alayoubi_et_al_2023/plots/humanMI_sccoda.pdf
  Alayoubi_et_al_2023/plots/scatac_heart_vs_intestine_vs_muscle_heatmap.pdf
  Alayoubi_et_al_2023/plots/scatac_rep_arcsin_heart-muscle.pdf
  Alayoubi_et_al_2023/results/humanMI_scanpro_all_combs.tsv
  Alayoubi_et_al_2023/results/humanMI_scanpro_combs.tsv
  Alayoubi_et_al_2023/results/humanMI_sccoda_combs.tsv
  Alayoubi_et_al_2023/results/humanMI_sccoda_norep.tsv
  Alayoubi_et_al_2023/results/humanMI_sccoda_rep.tsv
  Alayoubi_et_al_2023/results/scatac_scanpro_norep_arcsin_heart-intestine-muscle.tsv
  Alayoubi_et_al_2023/results/scatac_scanpro_norep_arcsin_heart-muscle.tsv
  Alayoubi_et_al_2023/results/scatac_scanpro_norep_logit_heart-intestine-muscle.tsv
  Alayoubi_et_al_2023/results/scatac_scanpro_norep_logit_heart-muscle.tsv
  Alayoubi_et_al_2023/results/scatac_scanpro_rep_arcsin_heart-intestine-muscle.tsv
  Alayoubi_et_al_2023/results/scatac_scanpro_rep_arcsin_heart-muscle.tsv
  Alayoubi_et_al_2023/results/scatac_scanpro_rep_logit_heart-intestine-muscle.tsv
  Alayoubi_et_al_2023/results/scatac_scanpro_rep_logit_heart-muscle.tsv
Due: none

Fix numpy version to avoid pandas binary incompatibility
  setup.py
Due: linting

fix numpy version to avoid pandas binary incompatibility error
  pyproject.toml
Due: none

Update setup.py
  setup.py
Due: linting

fix numpy version to 1.24.4
  pyproject.toml
  setup.py
Due: linting

add automatic selection for number of pseudo-replicates
  scanpro/scanpro.py
  scanpro/sim_reps.py
Due: linting, tests

update CHANGES.rst
  CHANGES.rst
Due: none

fix numpy requirement
  pyproject.toml
  setup.py
Due: linting

move estimating auto replicates to main scanpro function
  scanpro/scanpro.py
  scanpro/sim_reps.py
Due: linting, tests

remove statannotations package and implement plotting p-values manually
  scanpro/result.py
  setup.py
Due: linting, tests

update CHANGES.rst and version
  CHANGES.rst
  scanpro/_version.py
Due: linting, tests

linting
  scanpro/result.py
Due: linting, tests

Path conditions:
  linting: any of: setup.py, tests/*.py, scanpro/*.py
  tests: any of: tests/*.py, scanpro/*.py
