Repository loosolab/scanpro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linting, tests

linting:
  stage: test
  tags:
  - coverage
  script:
  - pip install flake8
  - flake8 scanpro setup.py tests --ignore=E501,W503
  allow_failure: false

tests:
  stage: test
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - pip install pytest
  - pip install pytest-cov
  - pip install pytest-html
  - pip install .
  - pytest --cov-report=term --cov=./scanpro . --junitxml=pytest.xml --cov-report html:htmlcov
  artifacts:
    when: always
    paths:
  ...

Rerun notebooks 1-3
  Alayoubi_et_al_2023/1_PBMC_dataset.ipynb
  Alayoubi_et_al_2023/2_Heart_dataset.ipynb
  Alayoubi_et_al_2023/3_Covid_dataset.ipynb
  Alayoubi_et_al_2023/5_scatac_atlas_dataset.ipynb
  Alayoubi_et_al_2023/README.md
  Alayoubi_et_al_2023/plots/covid19_boxplot.pdf
  Alayoubi_et_al_2023/plots/covid_stripplot_example.pdf
  Alayoubi_et_al_2023/plots/covid_stripplot_norep_example.pdf
  Alayoubi_et_al_2023/plots/covid_tool_comparison.pdf
  Alayoubi_et_al_2023/plots/heart_boxplot.pdf
  Alayoubi_et_al_2023/plots/heart_norep_stripplot.pdf
  Alayoubi_et_al_2023/plots/heart_sample_barplot.pdf
  Alayoubi_et_al_2023/plots/heart_stripplot.pdf
  Alayoubi_et_al_2023/plots/heart_tool_comparison.pdf
  Alayoubi_et_al_2023/plots/pbmc_age_stripplot.pdf
  Alayoubi_et_al_2023/plots/pbmc_sex_norep_stripplot.pdf
  Alayoubi_et_al_2023/plots/pbmc_sex_stripplot.pdf
  Alayoubi_et_al_2023/plots/pbmc_tool_comparison.pdf
  Alayoubi_et_al_2023/results/covid_scanpro_norep_arcsin.tsv
  Alayoubi_et_al_2023/results/covid_scanpro_norep_logit.tsv
  Alayoubi_et_al_2023/results/covid_scanpro_rep_arcsin.tsv
  Alayoubi_et_al_2023/results/covid_scanpro_rep_logit.tsv
  Alayoubi_et_al_2023/results/heart_scanpro_norep_arcsin.tsv
  Alayoubi_et_al_2023/results/heart_scanpro_norep_logit.tsv
  Alayoubi_et_al_2023/results/heart_scanpro_rep_arcsin.tsv
  Alayoubi_et_al_2023/results/heart_scanpro_rep_logit.tsv
  Alayoubi_et_al_2023/results/merged_results.tsv
  Alayoubi_et_al_2023/tool_comparison.ipynb
Due: none

Update README.md
  README.md
Due: none

resize figure
  README.md
Due: none

remove .png plots
  Alayoubi_et_al_2023/plots/benchmark_mean_counts_auroc.png
  Alayoubi_et_al_2023/plots/benchmark_sensitivity_fpr.png
  Alayoubi_et_al_2023/plots/humanMI_norep_all.png
  Alayoubi_et_al_2023/plots/humanMI_rep_all.png
  Alayoubi_et_al_2023/plots/scatac_norep_arcsin_heart-intestine-muscle.png
  Alayoubi_et_al_2023/plots/scatac_norep_arcsin_heart-muscle.png
  Alayoubi_et_al_2023/plots/scatac_rep_arcsin_heart-intestine-muscle.png
  Alayoubi_et_al_2023/plots/scatac_rep_arcsin_heart-muscle.png
Due: none

attempt to fix tests + linting
  scanpro/ebayes.py
  scanpro/get_transformed_props.py
  scanpro/linear_model.py
  scanpro/scanpro.py
  scanpro/utils.py
  tests/test_ebayes.py
  tests/test_fitFDist.py
  tests/test_get_transformed_props.py
  tests/test_linear_model.py
  tests/test_scanpro.py
  tests/test_sim_reps.py
  tests/test_utils.py
Due: linting, tests

fix tests
  scanpro/utils.py
  tests/test_get_transformed_props.py
  tests/test_scanpro.py
  tests/test_utils.py
Due: linting, tests

fix tests
  tests/test_ebayes.py
  tests/test_fitFDist.py
  tests/test_get_transformed_props.py
  tests/test_linear_model.py
  tests/test_scanpro.py
  tests/test_sim_reps.py
  tests/test_utils.py
Due: linting, tests

attempting once more to fix tests
  tests/test_ebayes.py
  tests/test_fitFDist.py
  tests/test_get_transformed_props.py
  tests/test_sim_reps.py
Due: linting, tests

the last of fixes
  tests/test_ebayes.py
Due: linting, tests

update files after merge
  scanpro/__init__.py
  scanpro/scanpro.py
  setup.py
  tests/test_scanpro.py
Due: linting, tests

add logo
  docs/source/conf.py
  docs/source/figures/scanpro_logo.png
Due: none

update docstring + logo
  docs/source/figures/scanpro_logo.png
  scanpro/scanpro.py
Due: linting, tests

remove module name from docs API page
  docs/source/conf.py
Due: none

update docstring for sim_scanpro
  scanpro/scanpro.py
Due: linting, tests

update readme and initial version
  CHANGES.rst
  README.md
Due: none

add release date
  CHANGES.rst
Due: none

install nbsphinx in ci pipline
  .gitlab-ci.yml
Due: none

add nbsphinx_link to pipline
  .gitlab-ci.yml
Due: none

modify sdist command
  setup.py
Due: linting

add requirements for readthedocs
  requirements.txt
Due: none

add readthedocs config file
  .readthedocs.yml
Due: none

update docs config
  .readthedocs.yml
  docs/required_packages.txt
  docs/source/conf.py
  requirements.txt
Due: none

Update .readthedocs.yml
  .readthedocs.yml
Due: none

update conf.py
  docs/required_packages.txt
  docs/source/conf.py
Due: none

Update conf.py
  docs/source/conf.py
Due: none

Update required_packages.txt
  docs/required_packages.txt
Due: none

fix import for readthedocs
  docs/required_packages.txt
  docs/source/conf.py
Due: none

fix matplotlib version and numpy import for build
  docs/source/install.rst
  setup.py
Due: linting

Update versions needed for notebooks
  Alayoubi_et_al_2023/README.md
Due: none

Add readme to setup.py
  setup.py
Due: linting

Fix bug causing wrong order in stripplot
  CHANGES.rst
  scanpro/result.py
  setup.py
Due: linting, tests

Path conditions:
  linting: any of: setup.py, tests/*.py, scanpro/*.py
  tests: any of: tests/*.py, scanpro/*.py
