Repository loosolab/scanpro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linting, tests

linting:
  stage: test
  tags:
  - coverage
  script:
  - pip install flake8
  - flake8 scanpro setup.py tests --ignore=E501,W503
  allow_failure: false

tests:
  stage: test
  tags:
  - coverage
  coverage: /TOTAL.*\s(\d*.\d*\%)/
  script:
  - pip install pytest
  - pip install pytest-cov
  - pip install pytest-html
  - pip install .
  - pytest --cov-report=term --cov=./scanpro . --junitxml=pytest.xml --cov-report html:htmlcov
  artifacts:
    when: always
    paths:
  ...

Fix import of package
  .gitlab-ci.yml
Due: none

Change file ending to linux
  scanpro/result.py
  tests/test_scanpro.py
Due: linting, tests

fix import during tests
  .gitlab-ci.yml
Due: none

CRLF -> LF
  scanpro/result.py
Due: linting, tests

pyproresult to scanproresultg
  tests/test_scanpro.py
Due: linting, tests

adjust columns in tests
  tests/test_scanpro.py
Due: linting, tests

small adjustments
  examples/proportion_analysis.ipynb
  scanpro/scanpro.py
Due: linting, tests

Adjusted plot for simulated data
  examples/proportion_analysis.ipynb
  scanpro/result.py
  scanpro/scanpro.py
Due: linting, tests

fix bug of getting all clusters names in sim_scanpro
  scanpro/scanpro.py
Due: linting, tests

fix typo
  scanpro/scanpro.py
Due: linting, tests

Add new directory
  Alayoubi_et_al_2023/.gitkeep
Due: none

change pypropeller to scanpro
  README.md
Due: none

Update file README.md
  README.md
Due: none

handle duplicate sample names
  scanpro/scanpro.py
Due: linting, tests

move all preprocessing to scanpro function
  scanpro/scanpro.py
Due: linting, tests

fix test_sim_scanpro
  tests/test_scanpro.py
Due: linting, tests

add samples_col to test_sim_scanpro test
  tests/test_scanpro.py
Due: linting, tests

minor fix for test_sim_scanpro
  tests/test_scanpro.py
Due: linting, tests

plot p-value on y-axis with max value
  scanpro/result.py
Due: linting, tests

add simulated dataset instead of old one + adjust notebook
  examples/proportion_analysis.ipynb
  examples/scanpro_tutorial.h5ad
Due: none

Solved overlapping legends for simulated data
  examples/proportion_analysis.ipynb
  scanpro/result.py
Due: linting, tests

linting
  scanpro/result.py
Due: linting, tests

added initial docs
  .gitlab-ci.yml
  CHANGES.rst
  docs/Makefile
  docs/make.bat
  docs/required_packages.txt
  docs/source/API.rst
  docs/source/changelog.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/install.rst
  docs/source/quickstart.rst
Due: none

Fix docs build
  .gitlab-ci.yml
  docs/README.md
  docs/source/conf.py
Due: none

adjust scanpro name
  docs/source/conf.py
  docs/source/index.rst
Due: none

add MIT license
  LICENSE
Due: none

Update setup.py
  setup.py
Due: linting

add missing comma
  setup.py
Due: linting

Add separate versions file
  scanpro/__init__.py
  scanpro/_version.py
  setup.py
Due: linting, tests

Robustness and logging
  .gitlab-ci.yml
  scanpro/ebayes.py
  scanpro/logging.py
  scanpro/scanpro.py
  scanpro/sim_reps.py
  scanpro/utils.py
Due: linting, tests

update setup file
  setup.py
Due: linting

add license
  LICENSE
Due: none

Adjust logger and seed
  scanpro/__init__.py
  scanpro/logging.py
  scanpro/scanpro.py
Due: linting, tests

update docs
  docs/source/conf.py
  docs/source/index.rst
  docs/source/install.rst
  docs/source/quickstart.rst
  scanpro/scanpro.py
Due: linting, tests

attempt to fix shell not found error in pipline
  .gitlab-ci.yml
Due: none

fix indentation
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

revert changes
  .gitlab-ci.yml
Due: none

make functions available from upper scanpro
  scanpro/__init__.py
Due: linting, tests

Path conditions:
  linting: any of: setup.py, tests/*.py, scanpro/*.py
  tests: any of: tests/*.py, scanpro/*.py
