Repository loosolab/scanpro: changes, and which GitLab CI jobs are due for each by the changed paths.
All: linting, tests

.gitlab-ci.yml:

# This file is a template, and might need editing before it works on your project.
# To contribute improvements to CI/CD templates, please follow the Development guide at:
# https://docs.gitlab.com/ee/development/cicd/templates.html
# This specific template is located at:
# https://gitlab.com/gitlab-org/gitlab/-/blob/master/lib/gitlab/ci/templates/Python.gitlab-ci.yml

# Official language image. Look for the different tagged releases at:
# https://hub.docker.com/r/library/python/tags/
image: python:latest 

# Change pip's cache directory to be inside the project directory since we can
# only cache local items.
variables:
  PIP_CACHE_DIR: "$CI_PROJECT_DIR/.cache/pip"

# Pip's cache doesn't store the python packages
# https://pip.pypa.io/en/stable/topics/caching/
#
# If you want to also cache the installed packages, you have to install
# them in a virtualenv and cache it as well.
cache:
  paths:
    - .cache/pip
    - venv/

default:
  before_script:
    - apt-get update -qq
    - apt-get install gfortran -qq -y
    - python --version  # For debugging
#    - pip install virtualenv
#    - virtualenv venv
#    - source venv/bin/activate
#    - apt update

# flake8 ignore rules:
# E501 = Line too long
# W503 = Line break occurred before a binary operator

#this is a a rule that always passes for branches without jobs being run - otherwise some branches cannot be merged
pass:
  inherit:
    default: false
  script:
     - 'echo passed'
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" # all MR

linting:
  stage: test
  tags:
    - coverage
  script:
    - pip install flake8
    - flake8 scanpro setup.py tests --ignore=E501,W503
  allow_failure: false
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" # all MR
      changes:
      - setup.py
      - tests/*.py
      - scanpro/*.py

tests:
  stage: test
  tags:
    - coverage
  coverage: '/TOTAL.*\s(\d*.\d*\%)/'
  script:
    - pip install pytest
    - pip install pytest-cov
    - pip install pytest-html
    - pip install .  # install package
    - pytest --cov-report=term --cov=./scanpro . --junitxml=pytest.xml --cov-report html:htmlcov
  artifacts:
    when: always
    paths:
      - pytest.xml
      - htmlcov
    reports:
      junit: pytest.xml
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event" # all MR
      changes:
      - tests/*.py
      - scanpro/*.py

update text on plots
  CHANGES.rst
  scanpro/result.py
Due: linting, tests

lint
  scanpro/result.py
Due: linting, tests

replace numpy.distutils with scikit-build
  CMakeLists.txt
  pyproject.toml
  setup.py
Due: linting

fix InvalidIndexError: slice(None, None, None) for newer pandas versions
  scanpro/result.py
Due: linting, tests

update version and docs
  Alayoubi_et_al_2023/README.md
  scanpro/_version.py
Due: linting, tests

update CMakeLists.txt
  CMakeLists.txt
Due: none

update workflows
  .github/workflows/publish_pypi.yml
  .gitlab-ci.yml
Due: none

add numpy as build dependency
  pyproject.toml
  setup.py
Due: linting

update pipelines
  .github/workflows/test.yml
  .gitlab-ci.yml
Due: none

rename scanpro.py to main.py to solve circular import error
  scanpro/__init__.py
  scanpro/main.py
  scanpro/utils.py
Due: linting, tests

update tests
  tests/test_scanpro.py
  tests/test_sim_reps.py
Due: linting, tests

Revert "replace numpy.distutils with scikit-build"
  .github/workflows/publish_pypi.yml
  .github/workflows/test.yml
  .gitlab-ci.yml
  Alayoubi_et_al_2023/README.md
  CMakeLists.txt
  pyproject.toml
  scanpro/__init__.py
  scanpro/_version.py
  scanpro/scanpro.py
  scanpro/utils.py
  setup.py
Due: linting, tests

replace Fortran gausq2 with python implementation
  scanpro/gaussq2.f
  scanpro/gaussq2.py
  scanpro/gaussq2.pyf
  scanpro/utils.py
  setup.py
  tests/test_gaussq2.py
Due: linting, tests

workaround to avoid pandas SettingWithCopyWarning
  scanpro/sim_reps.py
Due: linting, tests

update readme for analysis
  Alayoubi_et_al_2023/README.md
Due: none

update CHANGES.rst and version
  CHANGES.rst
  scanpro/_version.py
Due: linting, tests

linting
  scanpro/gaussq2.py
  setup.py
  tests/test_gaussq2.py
Due: linting, tests

update CHANGES.rst
  CHANGES.rst
Due: none

update docs
  docs/source/install.rst
Due: none

Update required_packages.txt
  docs/required_packages.txt
Due: none

remove numpy version restriction
  setup.py
Due: linting

update deprecated action versions
  .github/workflows/build_docs.yml
Due: none

Edit README.md
  README.md
Due: none

add better support for covariates
  scanpro/linear_model.py
  scanpro/scanpro.py
  scanpro/sim_reps.py
Due: linting, tests

check samples_col
  scanpro/scanpro.py
Due: linting, tests

adding some checks and improvments
  scanpro/scanpro.py
  scanpro/sim_reps.py
Due: linting, tests
